python-dotenv
streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain_openai
langchain_groq
langchain_huggingface
pandas
langchain-text-splitters
langchain-chroma
structlog
pandas
sentence-transformers
torchvision
fastapi
uvicorn
jinja2
python-multipart